.HoverPopup {
  position: relative;
  .child {
    color:#fff;
    font-size: 10px;
    position: absolute;
    width: 150px;
    top:90%;
    border-radius: 10px;
    padding: 10px;
    z-index: 3;
    background: rgba(0,0,0,0.8);
  }
}
